<footer class="app-footer">
  <div class="app-footer-left">
    <%= link_to "利用規約", "#", class: "is-disabled", aria: { disabled: true } %>
    <%= link_to "プライバシーポリシー", "#", class: "is-disabled", aria: { disabled: true } %>
    <%= link_to "お問い合わせ", "#", class: "is-disabled", aria: { disabled: true } %>
  </div>
</footer>
